#createoutfitnav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 30px;
}

#otherlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#fullbody {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#mainbody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

#page-title {
    align-items: center;
    justify-content: center;
    width: 300px;
    
    
}

#top-page-title-and-info {
    display: flex;
    flex-direction: row;
    margin-left: 43%;
    
}

#info {
    margin-left: 67%;
    height: 40px;
    align-items: center;
    margin-top: 2%;
}

hr {
    width: 100vw;
    border:1px solid #282c34;
    
}

#rest-of-page {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
}

#vl {
    border-left: 2px solid purple;
    height: fit-content;
    width:2px;
    
   
}
#fullbody{
    width: 100vw;
}

#left_side {
    display: flex;
    flex-direction:column;
   align-items: center;
   width: 50vw;
   height:fit-content;
  
}

#right_side {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height:fit-content;
}

 #tops {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #282c34;
    width: 100%;
    height: 25vw;
}

#url-label-and-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:30px;
}

#placeholder-tops {
    width: 150px;
    height: 50px;
    font-size: 30px;
    padding-top:2px;
    height: 30px;

}

#bottoms {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 25vw;
    border-bottom: 2px solid #282c34;
}

#accessories {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #282c34;
    width: 100%;
    height: 25vw;
}

#shoes {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 25vw;
    border-bottom: 2px solid #282c34;
}

#page-bottom {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#saveoutfit {
    margin-top: 30px;
    width: 200px;
    height: 55px;
    background-color: #282c34;
    color: white;
}


.modal-overlay{
    display: flex;
    flex-direction: column;
}
.modal-background{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 9;
    background-color:rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    
}
.modal-content{
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 200px;
    height: 400px;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.closemodal{
    width: 50px;
    background-color: #282c34;
    margin-top: 40px;
}

.image-container{
    display: flex;
    flex-direction:row;
}

.displaymode{
width: 50px;
  height: 50px;
}
#clothing-pics-top{
  width: 80px;
  height: 80px;
}
#clothing-pics-bottom{
    width: 80px;
    height: 80px;
}
#clothing-pics-accessories{
    width: 80px;
    height: 80px;
}
#clothing-pics-shoes{
    width: 80px;
    height: 80px;
}

#clothing-pics-dresses{
    width: 80px;
  height: 80px;
}
  #clothing-pics-hats{
    width: 80px;
    height: 80px;
  }
  #clothing-pics-outerwear{
    width: 80px;
    height: 80px;
  }
  #clothing-pics-bags{
    width: 80px;
    height: 80px;
  }



.header_container{
  width: 100vw;
  height: 100px;
}

#hats {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 25vw;
    border-bottom: 2px solid #282c34;
}

#bags {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:25vw;
}

#dresses {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 25vw;
    border-bottom: 2px solid #282c34;
}

#outerwear {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 25vw;
}
#trash{
    width: 20px;
    background-color: aqua;
}

#arrange{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.clear{
    background-color: rgb(215, 214, 214);
    border-radius: 10px;
    width: 50px;
    margin-left: 10px;

}
.clear:hover {
    background-color: #282c34; 
    color: white;
}
.browse-images{
    border-radius: 10px;
    background-color: rgb(215, 214, 214);
    width: 70px;
}
.browse-images:hover{
    background-color: #282c34; 
    color: white;
}
.add-images{
    border-radius: 5px;
    background-color: rgb(215, 214, 214);
    height: 25px;
    width: 25px;
   
}
.add-images.hover{
    background-color: #282c34; 
    color: white;
}
